#logo{background-color: black; color: springgreen; text-align: center; width: 40%; font-size: 40px; word-spacing: 1cm; height: 2,7cm; width: 8cm; text-transform: uppercase; border-radius: 10%;}
.link{color: forestgreen;}
a:hover{cursor: crosshair;}
a:active{color: seagreen}
a:visited{color: teal;}
#opis{overflow: auto; border: 3px dashed darkgray; }
#flaga{ width:150px; height: 100px; caption-side: top;}
.bialy{background-color: white; border-width: 0px;}
.czerwony{background-color: red; border-width: 0px;}
body{background-color: lightgrey;}
.obok_siebie{display: flex}
.rok{border: 2px dashed forestgreen;}
.informacja{border: 1px dashed black;}