body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

header{
    width: 100%;
    height: 15%;
    color: rgb(160, 160, 160);
    background-color: rgb(43, 43, 43);
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    animation: logo 5s infinite;
    font-size: xx-large;
}

@keyframes logo {
    0%{
        transform: rotate(25deg);
    }    
    50%{
        transform: rotate(-25deg);
    }
    100%{
        transform: rotate(25deg);
    }
}

nav{
    background-color: rgb(100, 100, 100);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    float: left;
    padding: 10px 0px;
    height: 8%;
}

main{
    width: 100%;
    height: 81%;
    background-color: rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: cover;
}

section{
    width: 100%;
    float: left;
    padding: 3% 3%;
}

article{
    display: flex;
    flex-direction: row;
}

article iframe{
    padding: 20px;
}

footer{
    width: 100%;
    height: 4%;
    background-color: rgb(100, 100, 100);
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 5%;
    color: #ffffff;
}

p{
    margin: 0px;
}

table {
    border-collapse: collapse;
    background-color: #ffffff;
    opacity: 70%;
    margin-bottom: 15px;
}
th, td {
    border: none;
    padding: 15px;
    text-align: left;
}
td{
    font-size: 16px;
}
th {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}
tr:hover {
    background-color: #f1f1f1;
}

td:hover, th:hover{
    background-color: #808080;
}

a{
    color: purple;
    text-decoration: none;
}

.button{
    background-color: #424242;
    border: none;
    text-decoration: none;
    cursor: pointer;
    width: 80%;
    height: 90%;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    border-radius: 10px;
    color: #ffffff;
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.button a{
    color: white;
}

@media screen and (max-width: 1200px) {
    nav{
        flex-direction: column;
        width: 30%;
        gap: 10px;
        height: 100%;
    }

    main{
        flex-direction: row;
    }

    .button{
        all: unset;
        background-color: #424242;
        border: none;
        text-decoration: none;
        cursor: pointer;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90%;
        width: 90%;
        font-size: small;
        color: #ffffff;
    }
}

.grid-gallery img {
    width: calc(var(--size) * 2);
    height: calc(var(--size) * 2);
    object-fit: cover;
    grid-column: auto / span 2;
    border-radius: 5px;
    clip-path: path("M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z"); 
}

.grid-gallery img:nth-child(5n - 1) { 
    grid-column: 2 / span 2 
}

.grid-gallery {
    --size: 100px;
    display: grid;
    grid-template-columns: repeat(6, var(--size));
    grid-auto-rows: var(--size);
    gap: 5px;
    place-items: start center;
    margin-bottom: var(--size);
}

.grid-gallery img {
    /* ... */
    transition: clip-path 0.25s, filter 0.75s;
  }
  
.grid-gallery img:hover {
    clip-path: path("M0,0 C0,0 200,0 200,0 200,0 200,100 200,100 200,100 200,200 200,200 200,200 100,200 100,200 100,200 100,200 0,200 0,200 0,100 0,100 0,100 0,100 0,100Z");
    transition: clip-path 0.25s, filter 0.25s;
    z-index: 1;
    scale: 200%;
}
  


.grid-gallery:has(img:hover) img:not(:hover) {
    filter: brightness(0.5) contrast(0.5);
}
  
@media screen and (max-width: 600px) {

    header{
        height: 250px;
    }

    nav{
        flex-direction: column;
        width: 100%;
        height: 570px
    }

    main{
        flex-direction: column;
        height: unset;
    }

    .button{
        all: unset;
        background-color: #424242;
        border: none;
        text-decoration: none;
        cursor: pointer;
        width: 90%;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-radius: 10px;
    }

    section{
        padding: 15px 5%;
        height: unset;
        width: 100%;
    }

    article{
        flex-direction: column;
    }

    *{
        font-size: 20px;
    }

    footer{
        height: 40px;
    }
    body{
        height: unset;
    };
    
    .znikaj{
        display: none;
    }
}

